
<nav class="absolute w-full px-4">
  <button type="button"
    (click)="showHideNav(divNav)"
    class=" items-center justify-center ms-[2%] text-black focus:outline-none hover:text-gray-800">
    <svg class="block h-8 w-8" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
    </svg>
  </button>

  <!-- Options menu, show/hide. -->
  <div #divNav class="space-y-1 p-1 bg-white/75 backdrop-blur-md w-full ms-[2%] hidden rounded-md">
    @for (rou of defineRoute; track $index) {
      @if(!tokenComputed()){
        <a
          [routerLink]="rou.path"
          (click)="showHideNav(divNav)"
          routerLinkActive="bg-gray-200"
          class="block active:bg-gray-200 rounded-md px-4 py-2 text-base font-medium text-gray-500 hover:bg-gray-100"
        >{{ rou.title }}</a>
      }
    }
    <!-- GRUP GUARD -->
    @if(tokenComputed()){
      @for (rou of routesAuth(); track $index) {
        <a [routerLink]="rou.path" (click)="showHideNav(divNav)" routerLinkActive="bg-gray-200"
          class="block active:bg-gray-200 rounded-md px-4 py-2 text-base font-medium text-gray-500 hover:bg-gray-100">{{
          rou.title }}</a>
      }
    }
  </div>
</nav>


