<div class="grid place-items-center m-8 h-full">
  <form (ngSubmit)="onSubmit()" [formGroup]="contactForm" class="flex flex-col gap-5 sm:w-2/3 lg:w-[40%] shadow shadow-[#DCFCE7] rounded p-4">
    <h1
      class="mb-4 text-4xl font-extrabold text-center leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white"><mark class="px-2 text-[#16A34A] bg-[#DCFCE7] rounded dark:bg-blue-500">Contact</mark> Form</h1>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input placeholder="example@example.com" matInput type="email" formControlName="email">
      @if (contactForm.get('email')?.touched && contactForm.get('email')?.invalid) {
        <mat-error>{{ updateErrorMessage('email') }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input [type]="hidePassword() ? 'password' : 'text'" placeholder="Your password" matInput type="password" formControlName="password">
      <button mat-icon-button matSuffix (click)="hidePassword.set(!hidePassword())" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword()">
        <mat-icon>{{hidePassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      @if (contactForm.get('password')?.touched && contactForm.get('password')?.invalid) {
        <mat-error>{{ updateErrorMessage('password') }}</mat-error>
      }
    </mat-form-field>

    @if(!isLogin()){
      <mat-form-field>
        <mat-label>Password confirm</mat-label>
        <input
          [type]="hidePasswordConfirm() ? 'password' : 'text'"
          placeholder="Your password" matInput
          type="password"
          formControlName="confirmPassword">
        <button mat-icon-button matSuffix (click)="hidePasswordConfirm.set(!hidePasswordConfirm())" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePasswordConfirm()">
          <mat-icon>{{hidePasswordConfirm() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        @if(contactForm.get('confirmPassword')?.touched && contactForm.getError('mustBeEqual')){
          <span class="text-red-500 m-0">Password no match</span>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Country</mat-label>
        <mat-select (selectionChange)="onCountryChanged()" formControlName="country">
          @for (country of countries(); track country.id_country) {
            <mat-option [value]="country.id_country">{{ country.countryName }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Locality</mat-label>
        <mat-select formControlName="locality">
          @for (locality of uniqueLocalities().entries(); track $index) {
            <mat-option [value]="locality[1]">{{ locality[0] }}</mat-option>
          }
        </mat-select>
        @if (contactForm.get('password')?.touched && contactForm.get('password')?.invalid) {
        <mat-error>{{ updateErrorMessage('password') }}</mat-error>
        }
      </mat-form-field>
    }

    <button mat-raised-button type="button">Cancel</button>
    <button  [disabled]="!contactForm.valid" mat-raised-button color="primary" type="submit">
      {{ isLogin() ? 'Login' : 'Register' }}
    </button>
    <div class="w-full flex justify-end">
      <p>
        @if(isLogin()){
            Don't have an account? <a class="text-[#16A34A] underline" routerLink="/auth/register"> Register!</a>
        }@else {

            Already have an account? <a class="text-[#16A34A] underline" [routerLink]="['/auth/login']"> Access!</a>
          }
      </p>
    </div>
  </form>
</div>



