<section class="mt-1 w-auto h-full p-4">
  <app-filter  label="Filtro de zonas" placeholder="Buscar por palabras clave" (filter)="valueToFilter.set($event)"/>
  <div class="mat-elevation-z8">
    <mat-table mat-table matSort [dataSource]="dataSource" >
      @for (column of displayedColumns(); track $index) {
        <ng-container [matColumnDef]="column">

          @if(this.sortableColumns().includes(column)){
            <th mat-header-cell *matHeaderCellDef mat-sort-header [sortActionDescription]="column"> {{column | titlecase}} </th>
          } @else {
            <th mat-header-cell *matHeaderCellDef> {{column | titlecase}} </th>
          }
          <td class="text-center" mat-cell *matCellDef="let element">
            @if(dataComputed(element[column])){
              <app-fire-action [isFire]="element[column]" />
            }@else {
              {{element[column]}}
            }
            @if(column === 'actions'){
              <a [routerLink]="['/zone', element.id]"  mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                <mat-icon>search</mat-icon>
              </a>
            }
          </td>
        </ng-container>
      }

      <tr mat-header-row *matHeaderRowDef="displayedColumns()"></tr>
      <tr class="hover:bg-gray-200" mat-row *matRowDef="let row; columns: displayedColumns();"></tr>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</section>
