/* You can add global styles to this file, and also import other style files */
/* Styles Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --close-color: crismon;
}

.mapboxgl-popup-close-button
{
  margin: .3rem;
  color: crimson;
  border-radius: .2rem;
  border-color: crimson;
  padding: 0 .2rem 0 .2rem;
  width: 1rem;
  text-align: center;
  font-size: 1.2rem;
  vertical-align: bottom;
}
.mapboxgl-popup-close-button:hover{
  color: white;
  background-color: crimson;
  transition: .2s linear;
}
.popup-marker{
  margin: 0;
}

.map-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
