<div class="max-w-4xl mx-auto flex flex-col items-center justify-center py-10">
  <span class=" text-green-600 rounded-full text-xs font-medium px-3 py-1">
    PRUÉBELO AHORA
  </span>
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
    Tree Tracking
  </h2>
  <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
    Te permite monitorear el estado de la vegetación de cualquier lugar del mundo, además de predecir su evolución
    futura. Utiliza esta innovadora plataforma para visualizar datos precisos y contribuir con el desarrollo sostenible.
    Empieza a usarla hoy y contribuye a un futuro más verde.
  </p>
</div>
<div class="grid md:grid-cols-2">
  <div class="grid place-items-center">
    <!-- AQUÍ VA LA IMAGEN -->
    <picture class="m-4 grid place-items-end">
        <img ngOptimizedImage  src="../../../assets/images/image-home.png"
          alt="Feature Image" priority loading="lazy" class="object-cover" decoding="async">
      </picture>
  </div>
  <app-information-generic />
</div>
